/* this stylesheet is going to be the basic style */


html {
    background: #d9faff;
    /* someone change this color it's a terrible placeholder */
    font-family: lato;
    margin: 0;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
}

#fullheader {
    background-color: blue;
    margin: 0;
}

#wrapper {
    clear: both;
    /* i don't really know what this does but i'm trying to get the top nav/title to fill the top */
}
nav a:visited {
    color: cyan;
}

nav {
    /* border: 1px green solid; */
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* also need to change the text color to make it more readable */
    font-size: 20px;
    /* this is also going to need to fold into a hamburger stack
    once it gets small enough */
    padding: 10px;
}
#posterContainer {
    margin: auto;
    width: 70%;
    height: 50%;
}

#moviePoster {
    width: 90%;
}

#posterContainer {
    display: flex;
    align-items: center;
}

#characters {
    margin-left: 2%;
    margin-top: 10px;
}

#characters img {
    width: 10%;
    height: 10%;
}

#copyright {
    text-align: center;
}

#stages figure{
    display: inline-block;
    width: 50%;
    height: 50%;
}

#stages img {
    display: inline-block;
    width: 80%;
}

#twitterContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

#usefulLinks {
    font-size: 40px;
}