/* this stylesheet is going to be the basic style */

html {
    background:  #f2f2f2;
    font-family: Lato;
}

h1 {
    text-align: center;
    font-size: 70px;
}

#fullheader {
    background-color: #0d00ff;
    margin-top: 0;
    padding-top: 5px;
}

#wrapper {
    clear: both;
}
nav a:visited {
    color: white;
    text-decoration: none;
}
nav a:link {
    color: white;
    text-decoration: none;
}

nav {
    /* border-top: 3px black solid;
    border-bottom: 3px black solid; */
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* also need to change the text color to make it more readable */
    font-size: 30px;
    width: 100%;
    /* this is also going to need to fold into a hamburger stack
    once it gets small enough */
    padding: 10px;
}

#colorElements {
    display: flex;
    flex-direction: row;
    margin: auto;
}
#posterContainer {
    margin: auto;
    width: 70%;
    height: 50%;
}

#moviePoster {
    margin: auto auto 30px auto;
    width: 90%;
}

#posterContainer {
    display: flex;
    align-items: center;
}

#characters {
    margin-top: 10px;
}


#copyright {
    text-align: center;
}

aside {
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#twitterContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#discordLinkWrapper {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

#bottomSpacer{
    height: 200px;
}

#usefulLinks {
    text-align: center;
}

#usefulLinks li {
    display: inline-block;
    font-size: 27px;
    padding: 10px;
}

#stages img{
    width: 650px;
}

#characters img{
    width: 400px;
}

#characters details{
    margin-left: 60px;
}




@media screen and (min-width: 481px) and (max-width:768px){ /* tablet size */
    body {
        margin: auto;
    }
    #characters {
        text-align: center;
    }
    #characters img {
        width: 50%;
        height: 50%;
    }
    #stages details {
        text-align: center;
    }
    #twitterContainer {
        text-align: center;
    }
    h1 {
        font-size: 40px
    }
    nav {
        font-size: 20px;
    }
    #characters details{
        justify-content: center;
        margin: 10px
    }
    #characters h2{
        font-size: 25px;
    }
    #characters summary{
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) { /* phone size */
    #mainInfo {
        margin-left: 20px;
    }
    #characters img {
        width: 35%;
        height: 25%;
    }

    #stages figure{
        display: inline-block;
        width: 40%;
    }
    #twitterContainer {
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    nav{
        font-size: 15px;
        padding: 5px;
    }
    #usefulLinks li{
        display: block;
        font-size: 20px;
    }
    #twitterContainer{
        flex-direction: column;
        justify-content: center;
    }
    #twitterContainer a {
        margin-bottom: 10px;
    }
    #discordLink{
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #characters details {
        justify-content: center;
        margin: 10px
    }

} 
@media only screen and (min-width: 769px){/*Desktop Size */
    nav{
        font-size: 25px;
    }
    h1{
        font-size: 50px;
    }
    #characters img {
        width: 30%;
        height: 30%;
    }
    #characters{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        font-size: larger;
        justify-content: center;
        margin: 15px

    }
    #characters h2{
        font-size: 50px;
    }
   #characters summary{
       font-size: 35px;
   }
   
} 
    





ul {
    width: 80%;
    margin: auto;
}

#rulesetContainer {
    width: 60%;
    margin: auto;
}
