/* this stylesheet is going to be the basic style */

html {
    background: aqua;
}

h1 {
    text-align: center;
}

#fullheader {
    background-color: blue;
    margin-top: 0;
}

#wrapper {
    clear: both;
}
nav a:visited {
    color: cyan;
}

nav {
    border: 1px green solid;
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* also need to change the text color to make it more readable */
    font-size: 20px;
    /* this is also going to need to fold into a hamburger stack
    once it gets small enough */
}
#posterContainer {
    margin: auto;
    width: 70%;
    height: 50%;
}

#moviePoster {
    width: 90%;
}

#posterContainer {
    display: flex;
    align-items: center;
}

#characters {
    margin-left: 2%;
    margin-top: 10px;
}

#characters img {
    width: 10%;
    height: 10%;
}

#copyright {
    text-align: center;
}

#stages figure{
    display: inline-block;
    width: 50%;
    height: 50%;
}

#stages img {
    display: inline-block;
}